<div class="container">
  <h2>Données personnelles</h2>

  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="beneficiary-form">
    <div class="form-row form-radio">
      <mat-label class="subtitle">Genre *</mat-label>
      <mat-radio-group
        color="primary"
        formControlName="gender"
        class="radio-group">
        @for (gender of genders; track gender) {
        <mat-radio-button [value]="gender.key" class="radio-option">
          <span class="radio-btn-label">
            {{ gender.value }}
          </span>
        </mat-radio-button>
        }
      </mat-radio-group>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastName" [maxlength]="nameMaxChar" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Prénom</mat-label>
        <input
          matInput
          formControlName="firstName"
          [maxlength]="firstNameMaxChar" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>N° appartement, escalier, étage </mat-label>
        <input
          matInput
          formControlName="appartmentNumber"
          [maxlength]="appartmentNumberMaxChar" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Bâtiment, immeuble, résidence</mat-label>
        <input
          matInput
          formControlName="building"
          [maxlength]="buildingMaxChar" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>N° et nom de la voie</mat-label>
        <input matInput formControlName="path" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Code postal</mat-label>
        <input
          matInput
          formControlName="postalCode"
          [maxlength]="postalCodeMaxChar" />
        @if(dataForm.get('postalCode')?.invalid){
        <mat-error>{{ getErrorMessage("postalCode") }} </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ville</mat-label>
        <input matInput formControlName="city" [maxlength]="cityMaxChar" />
        @if(dataForm.get('city')?.invalid){
        <mat-error>{{ getErrorMessage("city") }} </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Pays</mat-label>

        <mat-select
          color="primary"
          formControlName="country"
          (selectionChange)="onStatusSlelected($event.value)">
          @for (item of countries(); track item) {
          <mat-option [value]="item.libelle">{{ item.libelle }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Situation familiale</mat-label>

        <mat-select
          color="primary"
          formControlName="maritalStatus"
          (selectionChange)="onStatusSlelected($event.value)">
          @for (item of maritalStatusList; track item) {
          <mat-option [value]="item.key">{{ item.value }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Téléphone fixe</mat-label>
        <input
          matInput
          formControlName="phoneHome"
          [maxlength]="phoneHomeMaxChar" />
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Téléphone mobile</mat-label>
        <input
          matInput
          formControlName="phoneMobile"
          [maxlength]="phoneMobileMaxChar" />
      </mat-form-field>
    </div>
    <div class="form-row checkbox-section">
      <mat-label class="checkbox-label subtitle"
        >Type de modification</mat-label
      >
      <div class="checkbox-value">
        <mat-checkbox
          color="primary"
          formControlName="IsCivilStatusChanged"
          (change)="onCivilStatusChange()"
          >Etat civil</mat-checkbox
        >
        <mat-checkbox
          color="primary"
          formControlName="IsContantDetailsChanged"
          (change)="onContactDetailsChange()">
          Coordonnées postales et téléphoniques</mat-checkbox
        >
      </div>
      @if(customChangeErrorMessage()){
      <mat-error class="error-msg">{{ customChangeErrorMessage() }}</mat-error>
      }
    </div>

    <div class="form-row modifDate">
      <label class="subtitle"> Date de modification :</label>
      <span class="text">{{ modificationDate }}</span>
    </div>

    <app-ipeca-file-upload
      [title]="uploadFileTitle()"
      (filesChanged)="onFilesChanged($event)"
      [tooltipMessage]="contactDetailsTooltipMessage()"
      [sectionName]="sectionName"
      ><app-beneficiary-info-banner
        [title]=""
        [filesToUpload]="civilStateDocRequired()"
    /></app-ipeca-file-upload>

    <div class="form-actions">
      <button
        mat-raised-button
        color="primary"
        class="ipeca-primary"
        type="submit">
        MODIFIER
      </button>

      <div class="info-text-required">*Champs obligatoires</div>
    </div>
    <app-beneficiary-cgu type="profil" />
  </form>
</div>
