@if(type()=='default') {

<p class="text-cgu">
  IPECA PREVOYANCE collecte vos données à caractère personnel dans le cadre du
  recueil et de l’envoi de votre demande d’affiliation de vos bénéficiaires.
  Nous utilisons ces données afin de répondre à votre demande. Ce traitement
  repose sur l’exécution de mesures précontractuelles prises par IPECA à la
  demande de l’Utilisateur. Nous vous informons que les champs identifiés par un
  astérisque sont obligatoires. Conformément à la Loi n°78-17 du 6 janvier 1978
  (Loi Informatique et Libertés), ainsi qu’au Règlement général sur la
  protection des données (RGPD), vous disposez d’un droit d’accès, de
  rectification, de portabilité, d’effacement ainsi que d’un droit de limitation
  du traitement de vos données.Vous disposez également du droit de donner des
  directives relatives au sort de vos données après votre décès. Vous pouvez
  exercer vos droits par e-mail à l’adresse électronique
  <a href="mailto:{{ email }}" class="mailTo">{{ email }}</a> ou par courrier
  postal à l’adresse suivante 5 Rue Paul Barruel – 75015 PARIS. Une réponse vous
  sera adressée dans un délai d’un mois suivant la réception de votre demande.
  Au besoin, ce délai pourra être prolongé de deux mois supplémentaires. Dans ce
  cas, vous en serez informé et nous vous indiquerons les motifs. Au besoin,
  vous bénéficiez du droit d’introduire une réclamation auprès de la CNIL ou de
  former un recours juridictionnel. Pour en savoir plus sur le traitement de vos
  données et vos droits cliquez
  <a href="/conditions-generales" target="_blank" rel="noopener noreferrer"
    >ici</a
  >
</p>

} @if(type()=='reimbursementRequest') {

<p class="text-cgu">
  IPECA PREVOYANCE collecte vos données à caractère personnel dans le cadre du
  recueil et de l’envoi de votre demande de devis. Nous utilisons ces données
  afin de répondre à votre demande et de vous fournir le devis demandé. Ce
  traitement repose sur l’exécution de mesures précontractuelles prises par
  IPECA à la demande de l’Utilisateur. Nous vous informons que les champs
  identifiés par un astérisque sont obligatoires. Conformément à la Loi n°78-17
  du 6 janvier 1978 (Loi Informatique et Libertés), ainsi qu’au Règlement
  général sur la protection des données (RGPD), vous disposez d’un droit
  d’accès, de rectification, de portabilité, d’effacement ainsi que d’un droit
  de limitation du traitement de vos données. Vous disposez également du droit
  de donner des directives relatives au sort de vos données après votre décès.
  Vous pouvez exercer vos droits par e-mail à l’adresse électronique
  <a href="mailto:{{ email }}" class="mailTo">{{ email }}</a> ou par courrier
  postal à l’adresse suivante 5 Rue Paul Barruel – 75015 PARIS. Une réponse vous
  sera adressée dans un délai d’un mois suivant la réception de votre demande.
  Au besoin, ce délai pourra être prolongé de deux mois supplémentaires. Dans ce
  cas, vous en serez informé et nous vous indiquerons les motifs. Au besoin,
  vous bénéficiez du droit d’introduire une réclamation auprès de la CNIL ou de
  former un recours juridictionnel. Pour en savoir plus sur le traitement de vos
  données et vos droits cliquez
  <a href="/conditions-generales" target="_blank" rel="noopener noreferrer"
    >ici</a
  >
</p>

} @if(type()=='hospitalCoverage') {

<p class="text-cgu">
  IPECA PREVOYANCE collecte vos données à caractère personnel dans le cadre du
  recueil et de l’envoi de votre demande de devis. Nous utilisons ces données
  afin de répondre à votre demande et de vous fournir le devis demandé. Ce
  traitement repose sur l’exécution de mesures précontractuelles prises par
  IPECA à la demande de l’Utilisateur. Nous vous informons que les champs
  identifiés par un astérisque sont obligatoires. Conformément à la Loi n°78-17
  du 6 janvier 1978 (Loi Informatique et Libertés), ainsi qu’au Règlement
  général sur la protection des données (RGPD), vous disposez d’un droit
  d’accès, de rectification, de portabilité, d’effacement ainsi que d’un droit
  de limitation du traitement de vos données. Vous disposez également du droit
  de donner des directives relatives au sort de vos données après votre décès.
  Vous pouvez exercer vos droits par e-mail à l’adresse électronique
  <a href="mailto:{{ email }}" class="mailTo">{{ email }}</a> ou par courrier
  postal à l’adresse suivante 5 Rue Paul Barruel – 75015 PARIS. Une réponse vous
  sera adressée dans un délai d’un mois suivant la réception de votre demande.
  Au besoin, ce délai pourra être prolongé de deux mois supplémentaires. Dans ce
  cas, vous en serez informé et nous vous indiquerons les motifs. Au besoin,
  vous bénéficiez du droit d’introduire une réclamation auprès de la CNIL ou de
  former un recours juridictionnel. Pour en savoir plus sur le traitement de vos
  données et vos droits cliquez
  <a href="/conditions-generales" target="_blank" rel="noopener noreferrer"
    >ici</a
  >
</p>

} @if(type()=='profil') {

<p class="text-cgu">
  IIPECA PREVOYANCE collecte vos données à caractère personnel dans le cadre du
  recueil et de l’envoi de votre demande de modification de vos données. Nous
  utilisons ces données afin de répondre à votre demande. Ce traitement repose
  sur l’exécution de mesures précontractuelles prises par IPECA à la demande de
  l’Utilisateur. Nous vous informons que les champs identifiés par un astérisque
  sont obligatoires. Conformément à la Loi n°78-17 du 6 janvier 1978 (Loi
  Informatique et Libertés), ainsi qu’au Règlement général sur la protection des
  données (RGPD), vous disposez d’un droit d’accès, de rectification, de
  portabilité, d’effacement ainsi que d’un droit de limitation du traitement de
  vos données. Vous disposez également du droit de donner des directives
  relatives au sort de vos données après votre décès. Vous pouvez exercer vos
  droits par e-mail à l’adresse électronique
  <a href="mailto:{{ email }}" class="mailTo">{{ email }}</a> ou par courrier
  postal à l’adresse suivante 5 Rue Paul Barruel – 75015 PARIS. Une réponse vous
  sera adressée dans un délai d’un mois suivant la réception de votre demande.
  Au besoin, ce délai pourra être prolongé de deux mois supplémentaires. Dans ce
  cas, vous en serez informé et nous vous indiquerons les motifs. Au besoin,
  vous bénéficiez du droit d’introduire une réclamation auprès de la CNIL ou de
  former un recours juridictionnel. Pour en savoir plus sur le traitement de vos
  données et vos droits cliquez
  <a href="/conditions-generales" target="_blank" rel="noopener noreferrer"
    >ici</a
  >
</p>

} @if(type()=='consentement') {

<p class="text-cgu">
  IPECA PREVOYANCE collecte vos données à caractère personnel dans le cadre du
  recueil et de l’envoi de votre demande de modification de vos données. Nous
  utilisons ces données afin de répondre à votre demande. Ce traitement repose
  sur l’exécution de mesures précontractuelles prises par IPECA à la demande de
  l’Utilisateur. Nous vous informons que les champs identifiés par un astérisque
  sont obligatoires. Conformément à la Loi n°78-17 du 6 janvier 1978 (Loi
  Informatique et Libertés), ainsi qu’au Règlement général sur la protection des
  données (RGPD), vous disposez d’un droit d’accès, de rectification, de
  portabilité, d’effacement ainsi que d’un droit de limitation du traitement de
  vos données. Vous disposez également du droit de donner des directives
  relatives au sort de vos données après votre décès. Vous pouvez exercer vos
  droits par e-mail à l’adresse électronique
  <a href="mailto:{{ email }}" class="mailTo">{{ email }}</a> ou par courrier
  postal à l’adresse suivante 5 Rue Paul Barruel – 75015 PARIS. Une réponse vous
  sera adressée dans un délai d’un mois suivant la réception de votre demande.
  Au besoin, ce délai pourra être prolongé de deux mois supplémentaires. Dans ce
  cas, vous en serez informé et nous vous indiquerons les motifs. Au besoin,
  vous bénéficiez du droit d’introduire une réclamation auprès de la CNIL ou de
  former un recours juridictionnel. Pour en savoir plus sur le traitement de vos
  données et vos droits cliquez
  <a href="/conditions-generales" target="_blank" rel="noopener noreferrer"
    >ici</a
  >
</p>

} @if(type()=='portability') {

<p class="text-cgu">
  IPECA PREVOYANCE collecte vos données à caractère personnel dans le cadre du
  recueil et de l’envoi de votre demande de modification de vos données. Nous
  utilisons ces données afin de répondre à votre demande. Ce traitement repose
  sur l’exécution de mesures précontractuelles prises par IPECA à la demande de
  l’Utilisateur. Nous vous informons que les champs identifiés par un astérisque
  sont obligatoires. Conformément à la Loi n°78-17 du 6 janvier 1978 (Loi
  Informatique et Libertés), ainsi qu’au Règlement général sur la protection des
  données (RGPD), vous disposez d’un droit d’accès, de rectification, de
  portabilité, d’effacement ainsi que d’un droit de limitation du traitement de
  vos données. Vous disposez également du droit de donner des directives
  relatives au sort de vos données après votre décès. Vous pouvez exercer vos
  droits par e-mail à l’adresse électronique
  <a href="mailto:{{ email }}" class="mailTo">{{ email }}</a> ou par courrier
  postal à l’adresse suivante 5 Rue Paul Barruel – 75015 PARIS. Une réponse vous
  sera adressée dans un délai d’un mois suivant la réception de votre demande.
  Au besoin, ce délai pourra être prolongé de deux mois supplémentaires. Dans ce
  cas, vous en serez informé et nous vous indiquerons les motifs. Au besoin,
  vous bénéficiez du droit d’introduire une réclamation auprès de la CNIL ou de
  former un recours juridictionnel. Pour en savoir plus sur le traitement de vos
  données et vos droits cliquez
  <a href="/conditions-generales" target="_blank" rel="noopener noreferrer"
    >ici</a
  >
</p>

} @if(type()=='cotisation') {

<p class="text-cgu">
  IPECA PREVOYANCE collecte vos données à caractère personnel dans le cadre du
  recueil et de l’envoi de votre demande de modification de vos données. Nous
  utilisons ces données afin de répondre à votre demande. Ce traitement repose
  sur l’exécution de mesures précontractuelles prises par IPECA à la demande de
  l’Utilisateur. Nous vous informons que les champs identifiés par un astérisque
  sont obligatoires. Conformément à la Loi n°78-17 du 6 janvier 1978 (Loi
  Informatique et Libertés), ainsi qu’au Règlement général sur la protection des
  données (RGPD), vous disposez d’un droit d’accès, de rectification, de
  portabilité, d’effacement ainsi que d’un droit de limitation du traitement de
  vos données. Vous disposez également du droit de donner des directives
  relatives au sort de vos données après votre décès. Vous pouvez exercer vos
  droits par e-mail à l’adresse électronique
  <a href="mailto:{{ email }}" class="mailTo">{{ email }}</a> ou par courrier
  postal à l’adresse suivante 5 Rue Paul Barruel – 75015 PARIS. Une réponse vous
  sera adressée dans un délai d’un mois suivant la réception de votre demande.
  Au besoin, ce délai pourra être prolongé de deux mois supplémentaires. Dans ce
  cas, vous en serez informé et nous vous indiquerons les motifs. Au besoin,
  vous bénéficiez du droit d’introduire une réclamation auprès de la CNIL ou de
  former un recours juridictionnel. Pour en savoir plus sur le traitement de vos
  données et vos droits cliquez
  <a href="/conditions-generales" target="_blank" rel="noopener noreferrer"
    >ici</a
  >
</p>

}
