.text-cgu,
.btn-gpu,
a {
  font-size: 13px;
  line-height: 16px;
  padding-top: 3rem;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-style: normal;
}
.mailTo {
  color: blue;
}
.text-cgu {
  color: #707070;
  font-size: 12px;
}
