<div class="container">
  <h2>Connexion et sécurité</h2>
  <h3 class="title">MOT DE PASSE</h3>
  <p class="text">
    Vous êtes sur le point de modifier votre mot de passe. Choisissez un mot de
    passe sécurisé dont vous pourrez vous rappeler (consultez les règles de
    complexité en passant la souris sur l'icône (?) ci-dessous), et ne partagez
    votre nouveau mot de passe avec personne.
  </p>

  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="beneficiary-form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width" color="primary">
        <mat-label>Mot de passe actuel</mat-label>
        <input
          appAutofocus
          matInput
          formControlName="currentPassword"
          [type]="hideCurrentPassword ? 'password' : 'text'" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideCurrentPassword = !hideCurrentPassword"
          [attr.aria-label]="
            hideCurrentPassword
              ? 'Afficher le mot de passe'
              : 'Masquer le mot de passe'
          ">
          <mat-icon>{{
            hideCurrentPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        @if(dataForm.get('currentPassword')?.invalid){
        <mat-error>{{ getErrorMessage("currentPassword") }} </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width" color="primary">
        <mat-label>Nouveau mot de passe </mat-label>
        <input
          matInput
          formControlName="newPassword"
          [type]="hideNewPassword ? 'password' : 'text'" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideNewPassword = !hideNewPassword"
          [attr.aria-label]="
            hideNewPassword
              ? 'Afficher le mot de passe'
              : 'Masquer le mot de passe'
          ">
          <mat-icon>{{
            hideNewPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        <mat-icon matSuffix class="bg-pink" [matTooltip]="info">help</mat-icon>
        @if(dataForm.get('newPassword')?.invalid){
        <mat-error>{{ getErrorMessage("newPassword") }} </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width" color="primary">
        <mat-label>Confirmation du nouveau mot de passe</mat-label>
        <input
          matInput
          formControlName="confirmNewPassword"
          [type]="hideNewConfirmPassword ? 'password' : 'text'" />

        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideNewConfirmPassword = !hideNewConfirmPassword"
          [attr.aria-label]="
            hideNewConfirmPassword
              ? 'Afficher le mot de passe'
              : 'Masquer le mot de passe'
          ">
          <mat-icon>{{
            hideNewConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        @if(dataForm.get('confirmNewPassword')?.invalid){
        <mat-error>{{ getErrorMessage("confirmNewPassword") }} </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button
        mat-raised-button
        color="primary"
        class="ipeca-primary"
        type="submit">
        MODIFIER
      </button>

      <div class="info-text-required">*Champs obligatoires</div>
    </div>
    <app-beneficiary-cgu type="profil" />
  </form>
</div>
