@use "@angular/material" as mat;
@use "../../../../../../../../shared-library/src/lib/styles/variables" as *;
@use "sass:color";
.container {
  width: 50vw;
}
.title {
  color: $preheader-bg-color;
  margin: 10px 0;
}
h2 {
  margin-block: 0 10px;
}
.info-text {
  font-style: italic;
}
.subtitle {
  color: $preheader-bg-color;
  font-weight: bold;
}
.text {
  font-size: $font-size-md;
  color: $table-text-color;
  line-height: 21px;
  margin-block: $spacing-md;
  // max-width: 70%;
}

.beneficiary-form {
  width: 50vw;
  accent-color: green;
}
.full-width {
  width: 100%;
}
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.form-radio {
  flex-direction: column;
  gap: 0rem;
}
.form-actions {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.info-text-required {
  font-size: 13px;
  font-style: italic;
  color: #707070;
}
.info-icon {
  color: #707070;
}
.radio-group {
  display: flex;
  gap: 1rem;
  margin-block: 0.2rem;
}
.rattached {
  margin-bottom: 1rem;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: center;
  color: $table-text-color;
}

.default {
  color: unset;
  font-weight: inherit;
}
.labeled-icon {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.btn-tt {
  color: $preheader-bg-color;
  text-decoration: underline;
}
.ipeca-primary {
  background-color: $preheader-bg-color;
  font-family: "Calibri-Bold";
  font-weight: 500;
  color: $white;
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  // États
  &:hover:not(:disabled) {
    background-color: $btn-bg-color;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  &:active:not(:disabled) {
    transform: translateY(1px);
  }

  // Version disabled
  &:disabled {
    background-color: color.scale($preheader-bg-color, $lightness: -10%);
    color: rgba($white, 0.5);
    cursor: not-allowed;
    opacity: 0.7;
  }

  // Version avec icône
  &.with-icon {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
}
:host ::ng-deep mat-expansion-panel {
  border-radius: 0px !important;
  box-shadow: none !important;
  padding: 0;
}
:host ::ng-deep .mat-expansion-panel-header {
  padding: 0.5rem 0 !important;
  padding-right: 2rem !important;
  height: max-content !important;
}
:host ::ng-deep .mat-expansion-panel-body {
  padding: 0;
  padding-bottom: 0.5rem;
}
::ng-deep .mat-expansion-indicator {
  color: $preheader-bg-color;
}
.panel-content {
  .text-column {
    font-size: 14px;
    color: $preheader-bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem;
    padding-right: 2rem;
  }

  .radio-column .mat-mdc-radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
.main-title {
  text-transform: uppercase;
  font-weight: bold;
}
.panel-header {
  border-bottom: 1px solid $preheader-bg-color;
}
